<div class="home" id="nav_barContainer">
  <!-- DIRECCIONES, ELEMENTOS SECCION SUPERIOR DE LA BARRA -->
  <div class="home__navbar hidden" id="sidebar">
    <div class="containerHide" id="containerHide">
      <button class="setting-btn" id="buttonHide" data-active="false" title="ocultar/mostrar">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar1"></span>
      </button>
    </div>
    <div class="navbar-content" id="navbarContent">
      <ul class="home__navbar-TopList" id="navBarViewList">
      </ul>
      <!-- UTILIDADES, ELEMENTOS SECCION INFERIOR DE LA BARRA -->
      <ul class="home__navbar-BottomList" id="navBarUtilidades">
        <li class="home__navbar-item"><a href="/dashboard"><button>Dashboard</button></a></li>
        <li class="home__navbar-item"><a href="/guia"><button>Guía/ayuda</button></a></li>
        <li class="home__navbar-item"><a href="/user/profile"><button>Perfil</button></a></li>
        <li class="home__navbar-item"><a href="/user/logout"><button>Log-out</button></a></li>
      </ul>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    uid = $('#uid_n').val();
    if (uid == 0) {
      $('#nav_barContainer').remove();
      $('#sidebar').remove();
    } else {
      data = { uid: uid };
      $.ajax({
        type: "POST",
        url: "/getUserViews",
        data: data,
        dataType: "json",
        success: function (response) {
          $.each(response, function (index, vista) {
            $('#navBarViewList').append(
              '<li class="home__navbar-item">' +
              '<a href="/' + vista.toLowerCase() + '">' +
              '<button title="' + vista + '">' + vista + '</button>' +
              '</a>' +
              '</li>'
            );
          });
        }
      });
    }

    $('#buttonHide').click(function () {
      const sidebar = $('#sidebar');
      const isActive = $(this).data("active");

      $(this).data("active", !isActive);

      if (isActive) {
        // Ocultar barra
        sidebar.addClass('hidden');
      } else {
        // Mostrar barra
        sidebar.removeClass('hidden');
      }
    });
  });
</script>