.home {
	display: flex;
	height: 100vh;
	&__navbar {
		background-color: #2b383e;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 200px; // ancho inicial
		min-width: 100px;
		max-width: 50%;
		overflow-y: auto;
		border-right: 1px solid #000;
	}

	&__navbar-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}

	&__navbar-item {
		text-align: center;
		position: relative; // crea un nuevo contexto de apilamiento
		-webkit-text-fill-color: azure;
		border: 1px solid #ccc;
		border-radius: 10px;
		transition: box-shadow 0.3s;
		padding: 1vh;
		// float: left;
		&:hover {
			box-shadow:
inset rgb(255 255 255 / 19%) 0px -2px 20px 19px
		}
	}
}

.main {
	&__content {
		margin-left: -100;
		flex: 1;
		overflow: auto;
		background-color: antiquewhite;
	}
}
