.home {
	display: flex;
	height: 100vh;
	&__navbar {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 200px; // ancho inicial
		min-width: 100px;
		max-width: 50%;
		overflow-y: auto;
		border-right: 1px solid #000;
	}

	&__navbar-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}

	&__navbar-item {
		transition: transform 0.2s ease-in-out;
		&:hover {
			transform: scale(1.05);
			box-shadow:
				0 10px 15px -3px rgba(0, 0, 0, 0.1),
				0 4px 6px -2px rgba(0, 0, 0, 0.05);
		}
	}
}

.main {
	&__content {
		margin-left: -100;
		flex: 1;
		overflow:auto;
		background-color: antiquewhite;
	}
}
